* {
    font-family: "Montserrat";
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html, body {
    padding: 0;
    margin: 0;
}

nav > a {
    margin-left: 12px;
}

nav > a:hover {
    color: #0061BC;
}

h1 {
    font-weight: 700;
    font-size: 50px;
}

a {
    text-decoration: none;
    color: black;
    font-size: 25px;
}

p {
    color: #979797;
    margin: 0 0 16px 0;
    font-size: 20px;
}

span {
    color: #0061BC;
}

.btn {
    background-color: white;
    color: black;
    border: 2px solid #0061BC;
    padding: 20px 24px;
    margin-right: 40px;
}

.btn + .btn {
    background-color: #0061BC;
    color: white;
}

section {
    padding: 64px 128px;
}

img, iframe {
    width: 100%;
}

.img-gambar {
    width: 50%;
}

/* Header */

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 128px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 5;
}

#header h1 {
    margin: none;
    font-size: 30px;
    animation: bounceIn 1s;
}

@keyframes bounceIn  {
    0% {
        filter: opacity(0);
        transform: translateY(-20px);
    }     
    35% {
        filter: opacity(0.25);
        transform: translateY(0px);
    }     
    70% {
        filter: opacity(0.5);
        transform: translateY(10px);
    }     
    100% {
        filter: opacity(1);
        transform: translateYx1(0);
    }
    
}

@keyframes flash {
    from {
        filter: opacity(0);
    }
    to {
        filter: opacity(1);
    }
}

/* Landing */
#landing {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 130px;
}

#landing p {
    margin-bottom: 100px;
    font-size: 24px;
    text-align: justify;
}

#landing > div {
    width: 50%;
}

/* About */

#about {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#about > div {
    width: 50%;
}

#about-stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    margin-top: 72px;
}

.about-stats-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#about-stats > div > div{
    width: 90px;
    height: 7px;
    background-color: #0061BC;
    margin-bottom: 20px;
}


/* Team */

#team {
    text-align: center;
    display: block;
}

.stats-team {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 72px;
    gap: 20px;
}

.stats-team h1 {
    font-size: 30px
}

.stats-team > div > a {
    margin-top: 100px;

}

.button {
    margin-top: 60px;
}

/* Service */

.service-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.service-header h1 {
    position: relative;
}

.service-header h1::before{
    content: "";
    width: 60px;
    height: 60px;
    background: url(./images/accent1.svg);
    position: absolute;
    left: -20px;
    top: -10px;
    z-index: -1;
}

.service-header > div > span{
    width: 400px;
    height: 7px;
    background-color: #0061BC;
}

.service-detail {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 120px;
    margin-top: 72px;
}

.service-detail h1 {
    font-size: 30px;
    padding: 0 16px;
}


.service-detail-item {
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
}

.service-detail-item:hover img {
    filter: grayscale(0);
}

.service-detail-item:hover {
    transform: scale(1.15);
}

.service-detail-item img {
    width: 100%;
    filter: grayscale(1);
}

.service-detail-item p {
    font-size: 18px;
    padding: 0 16px;
}

/* Download */

#download {
    text-align: center;
}

.download-grup {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 80px;
}

.download-item img {
    transform: translateY(8px);
    width: 30px;
    height: 30px;
}

/* Contact */

#contact h1 {
    position: relative;
}

#contact > h1::before {
    content: "";
    width: 60px;
    height: 60px;
    position: absolute;
    left: -20px;
    top: -10px;
    background: url(./images/accent2.svg);
    z-index: -1;
}

.contact-detail {
    display: flex;
    justify-content: space-between;
    margin-top: 72px;
    column-gap: 128px;
}

.contact-detail > div, .contact-detail > form {
    width: 50%;
}

form {
    display: flex;
    flex-direction: column;
    border: 3px solid #0061BC;
    padding: 75px 100px;
}

form h1{
    font-size: 32px;
    text-align: center;
}

form button {
    border: none;
    text-align: center;
    align-items: center;
}

form button:hover {
    cursor: pointer;
}

.form-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 32px;
    margin-top: 32px;
    grid-template-areas: "name subject"
                        "email phone"
                        "message message";
}

#input-name {
    grid-area: name;
}

#input-subject {
    grid-area: subject;
}

#input-email {
    grid-area: email;
}

#input-phone {
    grid-area: phone;
}

#input-message {
    grid-area: message;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
}

.input-group input:focus{
    border-bottom: 2px solid #0061BC;
}

.input-group label {
    font-weight: 700;
    margin-bottom: 16px;
    font-size: 24px;
}

.input-group input {
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    font-size: 20px;
}

/* Footer */

footer {
    padding: 16px 128px;
    background-color: #0061BC;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p {
    color: white;
    width: 50%;
}

.social-icon {
    display: flex;
    gap: 32px;
}

.social-icon > img{
    width: 50%;
}


@media only screen and (max-width: 1200px) {
    .service-detail {
        gap: 24px;
    }
    .contact-detail {
        gap: 24px;
    }
    .form-group {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 992px) {
    #header, #footer {
        padding: 16px 32px;
    }

    section {
        padding: 64px 32px;
    }

    #landing {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #landing > div{
        width: 100%;
    }

    #about {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    #about {
        width: 100%;
    }

    .stats-team {
        gap: 16px;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        
    }

    .service-detail {
        gap: 16px;
    }

    .contact-detail {
        flex-direction: column;
        justify-content: center;
        align-items: center ;
        row-gap: 64px;
    }

    .contact-detail > form, .contact-detail > div {
        width: 100%;
    }
}
